if SHIELD_SOFLE_LEFT

config ZMK_KEYBOARD_NAME
    default "Eyelash Sofle"

config ZMK_SPLIT_ROLE_CENTRAL
    bool
    default y

config ZMK_USB
    bool
    default y

config ZMK_WIDGET_LAYER_STATUS
    bool
    default y if ZMK_DISPLAY

config ZMK_WIDGET_BATTERY_STATUS
    bool
    default y if ZMK_DISPLAY

config ZMK_WIDGET_OUTPUT_STATUS
    bool
    default y if ZMK_DISPLAY

endif # SHIELD_SOFLE_LEFT

if SHIELD_SOFLE_RIGHT

config ZMK_SPLIT_ROLE_PERIPHERAL
    bool
    default y

config ZMK_USB
    bool
    default n

endif # SHIELD_SOFLE_RIGHT

if SHIELD_SOFLE_LEFT || SHIELD_SOFLE_RIGHT

config ZMK_SPLIT
    default y

if ZMK_DISPLAY

choice ZMK_DISPLAY_WORK_QUEUE
    default ZMK_DISPLAY_WORK_QUEUE_DEDICATED
endchoice

endif # ZMK_DISPLAY

endif # SHIELD_SOFLE_LEFT || SHIELD_SOFLE_RIGHT
